<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.bundle.min.js"></script>

    <style>
      * {
        font-size: 1rem;
      }

      .log {
        background-color: black;
        color: white;
        height: calc(100vh - 56px);
        width: 500px;
        padding: 20px;
        font-family: monospace;
        font-size: 13px;
      }
    </style>
    <title>Gate Manager</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Gate Manager</a>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Selamat Datang <%= locals.user.name %></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/logout"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <%- include(view) %>
  </body>
</html>
