<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <style>
      * {
        font-size: 0.9rem;
      }

      form {
        width: 300px;
        margin: 150px auto 0;
        text-align: center;
      }
    </style>
    <title>Gate Manager</title>
  </head>
  <body>
    <form method="post">
      <h2 class="mb-5">Gate Manager</h2>

      <% if (message) { %>
      <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <div class="mb-4">
        <input
          id="email"
          type="email"
          class="form-control"
          name="email"
          placeholder="Email"
        />
      </div>

      <div class="mb-4">
        <input
          id="password"
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="btn btn-primary mb-4" style="width: 100%">
        Login
      </button>
    </form>
  </body>
</html>
